<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/addcollection.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts/addcollection.js"></script>

    <title>Document</title>
</head>
<body>
    <div class="main">
      
        
        <div class="collection-form">
            <div class="exit-button">
                <a href="/collections">
                    <img src="assets/back.png" alt="" class="exit">
                </a>
            </div>
            
            <div class="form-title">
                <h1>ADD COLLECTION</h1>
            </div>

            <div class="form-fields">
                <div class="collection-left">
                    <div class="main-picture">
                        <div class="upload-icon-container">
                            <img src="/assets/upload-icon.png" name="collectionPicture" alt="" id="upload-icon" accept="image/*">

                        </div>
                        <input type="file" name="main-image" id="imageInput">
                    </div>
                </div>
                <div class="collection-right">
                    
                    <input type="text" name="" placeholder="Name" id="collection-name-input" class="text-input" required>
                    <textarea name="" placeholder="Description" id="collection-description-input" class="text-input"></textarea>
                    <button>Submit</button>
                </div>
            </div>
          
        </div>
    </div>

</body>


</html>