<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/collections.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Document</title>
</head>
<body>
    <div class="main">
        {{>navbar}}

        <div class="collections-grid">
            {{>gridheader}}
            <div class="grid-items">
                <div class="grid-wrapper">

                    {{#each collections}}
                            <div class="collection-item-container" data-id="{{_id}}">
                                <img src="/uploads/collections/{{collectionPicture}}" alt="" class="collection-cover">
                                    <p>{{name}}</p>
                            </div>

                    {{/each}}
                    
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function(){
        $(".grid-header-add-button").click(function(){
            window.location.href = "/addcollection";
        });

         $(".collection-item-container").click(function(){
            window.location.href = "/collections/" + $(this).data("id");
        });
    });
</script>
</html>