<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts/addcollection.js"></script>
    <title>Dashboard - AM Invento</title>
    <link rel="icon" type="image/x-icon" href="/uploads/web-logo.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div class="main">
    {{>navbar}}

    <div class="container">
        <main class="dashboard">
            {{>orderStatus}}

            <section class="sales-report">
                <h3>Sales Report</h3>
            </section>

            {{>lowStocks}}

            <section class="order-notifications">
                <h3>Order Notifications</h3>
            </section>

            <section class="finances">
                <h3>Finances</h3>
            </section>
        </main>
    </div>
</div>
</body>
