<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/products.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="main">
        {{>navbar}}
        {{>gridheader}}
        <div class="catalogue">
            <div class="gallery">
                {{#each products}}
                    <div class="container" data-id="{{_id}}">
                        <div class="product-pic-container">
                            <div class="product-actual-photo-container">
                                <img src="/uploads/products/{{pictures}}" alt="" srcset="" class="product-pic">
                            </div>
                        </div>
                        <div class="product-name">
                            <p>{{name}}</p>
                            <p class="product-stock {{#stockStatus totalStock}}{{/stockStatus}}-stock">{{totalStock}} in stock</p>
                            <span class="three-dots-product-option">&nbsp;&nbsp;&#8286;</span>
                        </div>
                        <div class="product-options-popup">
                            <p><a href="" class="product-option-popup">Edit</a></p>
                            <p><a href="" class="product-option-popup">Delete</a></p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>    

    <div class="add-product-modal">

    <div class="add-product-form">
        <div class="add-product-form-left">
            <div class="main-picture">
                <img src="/assets/upload-icon.png" name="collectionPicture" alt="" id="upload-icon" accept="image/*">
                <input type="file" name="main-image" id="imageInput">
            </div>
        </div>
        <div class="add-product-form-right">
            <span class="exit-form">x</span>
            <input type="text" name="" placeholder="Name" id="product-name-input" class="product-detail-input" required>
            <input type="number" name="" placeholder="Price (PHP)" id="product-price-input" class="product-detail-input">
            <input type="text" name="" placeholder="SKU" id="product-sku-input" class="product-detail-input">
            <div class="product-material-container">
                <div id="material-list" class="material-list"></div>
                <input type="text" id="material-input" class="material-input" placeholder="Add a material and press Enter">
            </div>
            <button class="to-product-form2-button">Next 1/2</button>
        </div>
    </div>
    </div>

    <script>
        let tagList = []

        $(document).ready(function(){

            $(".three-dots-product-option").click(function(event){
                event.stopPropagation(); 
                var $popup = $(this).closest('.container').find('.product-options-popup');
                $(".product-options-popup").not($popup).hide(); 
                $popup.toggle(); 
            });

            $(document).click(function(event) {
                if (!$(event.target).closest('.product-options-popup').length && !$(event.target).hasClass('three-dots-product-option')) {
                    $(".product-options-popup").hide();
                }
            });

            $(".product-options-popup").hide();

            
            $("#imageInput").change(function(event){
                var file = this.files[0];
                var reader = new FileReader();
                
                mediaContainer = $(".main-picture")
                reader.onload = function(e){
                    const photoContainer = document.createElement('div');
                    photoContainer.className = 'product-photo-container';

                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.className = 'product-photo';
                    photoContainer.appendChild(img);

                    mediaContainer.append(photoContainer);

                }
                reader.readAsDataURL(file);
            });


            $('#material-input').keydown(function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    var tag = $(this).val().trim();
                    if (tag) {
                        addTag(tag);
                        $(this).val('');
                    }
                }
            });

            $('#product-name-input').on('keyup', function() {
                const name = $(this).val();

             

                if (name === ""){
                    $('#product-name-input').removeClass('correct-input')
                    $('#product-name-input').addClass('wrong-input')
                } else {
                    $.ajax({
                        url: '/api/products/check-name',
                        type: 'POST',
                        data: {
                            name: name
                        },
                        success: function(data) {
                            if(data.success ){
                                $('#product-name-input').removeClass('wrong-input')
                                $('#product-name-input').addClass('correct-input')
                            } else {
                                $('#product-name-input').addClass('wrong-input')
                            }
                        }



                    });
                };

            });

            $('#product-price-input').on('keyup', function() {
                if(Number($(this).val()) > 0) {
                    console.log("correct");
                    $('#product-price-input').removeClass('wrong-input')
                    $('#product-price-input').addClass('correct-input')
                } else {
                    $('#product-price-input').removeClass('correct-input')
                    $('#product-price-input').addClass('wrong-input')
                }
            });

            $('#product-sku-input').on('keyup', function() {
                $.ajax({
                    url: '/api/products/check-sku',
                    type: 'POST',
                    data: {
                        sku: $(this).val()
                    },
                    success: function(data) {
                        if(data.success){
                            $('#product-sku-input').removeClass('wrong-input')
                            $('#product-sku-input').addClass('correct-input')
                        } else {
                            $('#product-sku-input').addClass('wrong-input')
                        }
                    }
                });
            });


            $('.add-product-modal').hide()

            $('.grid-header-add-button').on('click', function() {
                $('.add-product-modal').fadeIn();
            })

            $('.exit-form').on('click', function() {
                $('.add-product-modal').fadeOut();
            })
            
             $(".main-picture").click(function(event){
                // event.stopPropagation();
                // console.log("clicked");
                $("#imageInput").click();
            });

            $("#imageInput").click(function(event){
                event.stopPropagation();
            });

           function addTag(tag) {
                // Check if tag already exists in the global list
                if (tagList.includes(tag)) {
                    console.log('Tag already exists:', tag);
                    return; // Exit the function if tag already exists
                }

                // Add tag to the global list
                tagList.push(tag);

                var tagElement = $('<div>').addClass('material').text(tag);
                var removeButton = $('<span>').addClass('remove-material').text('×').click(function() {
                    // Remove the tag from the global list when removed from the UI
                    var index = tagList.indexOf(tag);
                    if (index !== -1) {
                        tagList.splice(index, 1);
                    }
                    $(this).parent().remove();
                });
                tagElement.append(removeButton);
                $('#material-list').append(tagElement);
            }

        });
    </script>
</body>
</html>
