<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/products.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="main">
        {{>navbar}}
        {{>gridheader}}
        <div class="catalogue">

            <div class="gallery">
                {{#each products}}
                    <div class="container" data-id="{{_id}}">
                        <div class="product-pic-container">
                            <div class="product-actual-photo-container">
                                <img src="/uploads/products/{{pictures}}" alt="" srcset="" class="product-pic">
                            </div>
                        </div>
                        <div class="product-name">
                            <p>{{name}}</p>
                            <p class="product-stock {{#stockStatus totalStock}}{{/stockStatus}}-stock">{{totalStock}} in stock</p>
                            <span class="three-dots-product-option">&nbsp;&nbsp;&#8286;</span>
                        
                        </div>
                        <div class="product-options-popup">
                            <p><a href="" class="product-option-popup edit-product">Edit</a></p>
                            <p><a href="" class="product-option-popup delete-product">Delete</a></p>
                        </div>
                    </div>
                {{/each}}


            </div>
        </div>
    </div>    

     <div class="add-product-modal">

    <div class="add-product-form">
        <div class="add-product-form-left">
            <div class="main-picture">
                <img src="/assets/upload-icon.png" name="collectionPicture" alt="" id="upload-icon" accept="image/*">
                <input type="file" name="main-image" id="imageInput">
            </div>
        </div>
        <div class="add-product-form-right">
            <span class="exit-form">x</span>
            <input type="text" name="" placeholder="Name" id="product-name-input" class="product-detail-input" required>
            <input type="number" name="" placeholder="Price (PHP)" id="product-price-input" class="product-detail-input">
            <input type="text" name="" placeholder="SKU" id="product-sku-input" class="product-detail-input">
            <div class="product-material-container">
                <div id="material-list" class="material-list"></div>
                <input type="text" id="material-input" class="material-input" placeholder="Add a material and press Enter">
            </div>
            <button class="to-product-form2-button">Next 1/2</button>
        </div>
    </div>
    </div>

    <script>
        $(document).ready(function(){

            $(".three-dots-product-option").click(function(event){
                event.stopPropagation(); 
                var $popup = $(this).closest('.container').find('.product-options-popup');
                $(".product-options-popup").not($popup).hide(); 
                $popup.toggle(); 
            });

            $(document).click(function(event) {
                if (!$(event.target).closest('.product-options-popup').length && !$(event.target).hasClass('three-dots-product-option')) {
                    $(".product-options-popup").hide();
                }
            });

            $(".product-options-popup").hide();

            $('#material-input').keydown(function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    var tag = $(this).val().trim();
                    if (tag) {
                        addTag(tag);
                        $(this).val('');
                    }
                }
            });

            $('.add-product-modal').hide()

            $('.grid-header-add-button').on('click', function() {
                $('.add-product-modal').fadeIn();
            })

            $('.exit-form').on('click', function() {
                $('.add-product-modal').fadeOut();
            })
            
             $(".main-picture").click(function(event){
                // event.stopPropagation();
                // console.log("clicked");
                $("#imageInput").click();
            });

            $("#imageInput").click(function(event){
                event.stopPropagation();
            });


            function addTag(tag) {
                var tagElement = $('<div>').addClass('material').text(tag);
                var removeButton = $('<span>').addClass('remove-material').text('×').click(function() {
                    $(this).parent().remove();
                });
                tagElement.append(removeButton);
                $('#material-list').append(tagElement);
            }
        });

        // delete SWAL
        $(document).ready(function(){
            $(".delete-product").click(function(event){
                event.preventDefault();
                const deleteProductId = $(this).closest('.container').data('id');

                Swal.fire({
                    title: 'Are you sure?',
                    text: "Do you want to delete this product?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, keep it'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: 'Delete associated details?',
                            text: "Do you also want to delete the associated details?",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete associations',
                            cancelButtonText: 'No, keep associations'
                        }).then((assocResult) => {
                            if (assocResult.isConfirmed) {
                                $.ajax({
                                    url: '/api/products/delete/' + deleteProductId + '?deleteAssociations=true',
                                    type: 'DELETE',
                                    success: function(result) {
                                        Swal.fire(
                                            'Deleted!',
                                            'Product and associations have been deleted.',
                                            'success'
                                        ).then(() => location.reload());
                                    },
                                    error: function(err) {
                                        Swal.fire('Error', 'Error deleting product.', 'error');
                                    }
                                });
                            } else if (assocResult.dismiss === Swal.DismissReason.cancel) {
                                $.ajax({
                                    url: '/api/products/delete/' + deleteProductId + '?deleteAssociations=false',
                                    type: 'DELETE',
                                    success: function(result) {
                                        Swal.fire(
                                            'Deleted!',
                                            'Product has been deleted, associations retained.',
                                            'success'
                                        ).then(() => location.reload());
                                    },
                                    error: function(err) {
                                        Swal.fire('Error', 'Error deleting product.', 'error');
                                    }
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>