<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/styles/products.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div class="main">
        {{>navbar}}
        {{>gridheader}}
        <div class="catalogue">

            <div class="gallery">
                {{#each products}}
                    <div class="container">
                        <div class="product-pic-container">
                            <img src="/uploads/products/{{pictures}}" alt="" srcset="" class="product-pic">
                        </div>
                        <div class="product-name">
                            <p>{{name}}</p>
                            <span class="three-dots-product-option">&nbsp;&nbsp;&#8286;</span>

                        </div>
                        <div class="product-options-popup">
                            <p><a href="" class="product-option-popup">Edit</a></p>
                            <p><a href="" class="product-option-popup">Delete</a></p>
                        </div>
                    </div>
                {{/each}}
              
                
            </div>
        </div>
    </div>    
</body>

<script>
    function togglePopup() {
        $(".product-options-popup").toggle();
    }

    $(document).ready(function(){
        $(".three-dots-product-option").click(function(event){
            event.stopPropagation(); // Prevents the event from bubbling up the DOM tree
            togglePopup();
        });

        $(".product-options-popup").hide();

        // Close popup when clicking outside of it
        $(document).click(function(event) {
            if (!$(event.target).closest('.product-options-popup').length && !$(event.target).hasClass('three-dots-product-option')) {
                $(".product-options-popup").hide();
            }
        });
    });
</script>

</html>