<div class="grid-header">
    <div class="grid-filter-menu">
        <img src="/assets/setting.png" alt="" class="filter-icon">
    </div>
    <div class="grid-title">
        <p>{{grid-title}}</p>
    </div>
    <div class="grid-add">
        <button class="grid-header-add-button">Add {{grid-add-button}}</button>
    </div>
</div>