<div class="header">
    <div class="header-menu">
        <img src="/assets/menu.png" alt="" class="menu-icon">
    </div>
    <div class="header-logo-title">
        ABSTRÄKMOTIF INVENTO
    </div>
    <div class="header-user">
        <div class="user-badge">
            <p class="user-name">Taylor Swift</p>
            <img src="/assets/user-down.png" alt="" class="user-down-icon">

        </div>
    </div>

</div>