{{!-- Notif section in dashboard --}}

<section class="notifications">
    <div class="header-container">
        <h3>Order notifications</h3>
    </div>

    <div class="alerts-container">
        {{#each notifications}}
        
    </div>
</section>