<section class="order-notifications">
    <div class="header-container">
        <h3>Order Notifications</h3>
    </div>

    <div class="alerts-container">
        {{#each alerts}}
            <div class="alert-item" data-id="{{alertId}}">
                <img src="{{icon}}" class="alert-icon">
                
                <div class="alert-details">
                    <p class="alert-description">{{description}}</p>
                    <button class="add-alert">Add Reminder</button>
                </div>
            </div>
        {{/each}}
    </div>

    <a href="/orders" class="link">Go to Orders →</a>
</section>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/api/orderNotifications',
            method: 'GET',
            success: function (data) {
                console.log("Success")
            }, error: function (err) {
                console.error('Error fetching notifications:', err);
            }
        })
    })
</script>