<div class="add-product-variation-rows">
    <div class="add-product-variation-row">
        <input type="text" placeholder="Variation" class="product-form-variation table-type" >
        <input type="number" placeholder="Stock" class="product-form-stock table-type">
        <input type="number" placeholder="Manufacturing Cost" class="product-form-manucost table-type">
    </div>                        
</div>