<div class="add-product-variation-rows">
    <div class="add-product-variation-row">
        <input type="text" placeholder="Variation" class="product-variation table-type" >
        <input type="number" placeholder="Stock" class="product-size table-type">
        <input type="text" placeholder="Manufacturing Cost" class="product-manu-cost table-type">
    </div>                        
</div>