@import "base.css";
@import "navbar.css";
@import "gridheader.css";

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collections-grid {
    flex: 0 0 90%;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.grid-items {
    /* border: 1px solid pink; */
    display: flex;
    justify-content: center;
}

.grid-wrapper {
    padding-top: 4%;
    width: 80%;
    min-width: 80%;
    display: flex;
    gap: 10rem;
    margin-bottom: 5%;
    overflow-x: auto;
    padding-bottom: 4%;
}

.grid-wrapper::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

.grid-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

.grid-wrapper::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
    border: 3px solid #f1f1f1; 
}

.grid-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.grid-wrapper::-webkit-scrollbar-corner {
    background: #f1f1f1; 
}


.collection-cover {
    height: 15rem;
    width: 15rem;
    margin-bottom: 10px;
    object-fit: cover;
}

.collection-item-container {
    border: 1px solid black;
    padding: 2%;
    border-bottom: 10px solid black;
    width: 240px;
    text-align: center;
}
