@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "base.css";
@import "navbar.css";
@import "gridheader.css";
@import "addproductform.css";
@import "swal.css";

/* Basic styling for the container and header */
.container {
    padding: 2% 0%;
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    align-items: center;
    margin-top: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
}

.btn {
    padding: 10px 20px;
    background-color: #2a2929;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: white;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.arrow-button {
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.prev-arrow::before, .next-arrow::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}

.prev-arrow::before {
    border-width: 10px 15px 10px 0;
    border-color: transparent #033f63 transparent transparent;
}

.next-arrow::before {
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #033f63;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.pagination-container button, .pagination-container span, .pagination-container .of-text {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination-container button:hover, .pagination-container span:hover, .pagination-container .of-text:hover {
    background-color: #333333;
}

.pagination-container .active {
    background-color: #4CAF50;
    color: white;
}

.pagination-container span, .pagination-container .of-text {
    display: inline-block;
    text-align: center;
    min-width: 40px;
}

.filter-sort-text {
    font-weight: bold;
    cursor: pointer;
}

.filtersort-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
    grid-area: button;
}

.filter-sort-clear, .filter-sort-done {
    padding: 10px;
    width: 48%;
}

.filter-sort-done {
    background-color: #2a2929;
    color: #fff;
}

.filter-sort-clear {
    background-color: #f5f5f5;
    color: #333;
}

.filter-sort-clear:hover {
    background-color: #e0e0e0;
}

.filter-sort-done:hover {
    background-color: black;
}