@import "base.css";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: "DM Sans";
}

.login-main {
    height: 100%;
}


.bg-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    filter: brightness(50%);
}
.whole-login {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
}

.login-container {
    width: 100%;
    max-width: 400px;
    /* background-color: #f5f5f5; */
    border-radius: 10px;
    padding: 5%;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

input {
    font-family: 'DM Sans';


}

.login-container h1 {
    font-family: 'Arial', 'DM Sans';
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

.login-form-container {
    display: flex;
    flex-direction: column;
}

.box {
    margin: 10px 0;
}

.input-label {
    display: block; 
    text-align: left;
    font-size: 0.9rem;
    color: #555;
}


.label-space {
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.show-password {
    position: absolute;
    top: 63%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.password-box:hover .show-password {
    opacity: 1;
}

.show-password svg {
    fill: #888;
}

.show-password-clicked svg {
    fill: #333;
}

#forgot {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#forgot input {
    margin-right: 5px;
}

.action-button-container {
    margin-top: 20px;
    margin-bottom: 3%;
}

.action-button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.action-button:hover {
    background-color: #555;
}

.wrong-credentials {
    display: none;
    margin-bottom: 10px;
    color: red;
    font-size: 0.9rem;
}

.policy {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
    text-align: center;
}

.divider {
    display: flex;
    height: 100%;
}

.background-half {
    width: 50%;
    height: 100%;
    background-color: #b0b0b0;
}

.whole-login {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}


.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

.red-outline {
    outline: 1px solid red;
}