
.header {
    /* border-bottom: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 10%;
    padding: 1%;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

}

.header-menu {
   cursor: pointer;

}

.user-badge {
    display: flex;
    flex-direction: row;
    align-items: center;    
    gap: 1rem;
}



.menu-icon{
    /* margin-left: 5%; */
    height: 2rem;
    width: 2rem;
}

.user-down-icon  {
    height: 1.5rem;
    width: 1.5rem;
}


.side-bar {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transform: translateX(-100%);
    z-index: 9999;
    animation: slideIn 0.5s forwards;
}

.side-bar-backdrop {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.side-bar .exit {
    margin-bottom: 50px;
    margin-left: 270px;
    font-size: 15px;
    cursor: pointer;
}


.profile-name {
    font-size: 45px;
    margin-bottom: 50px;
}

.profile-menu {
   font-size: 20px;
}

.profile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    list-style-type: none;
}




.profile-menu-option {
    transition: transform 0.3s, color 0.3s;
    cursor: pointer;
}

.profile-menu-option:hover {
    transform: scale(1.1); 
}

.profile-menu-option a {
    text-decoration: none;
    color: black;
}



.profile-logout {
    font-size: 20px;
    margin-top: 50px;

}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}