@import "base.css";
@import "navbar.css";
@import "gridheader.css";
@import "swal.css";

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.catalogue {
    padding: 2% 0%;
    width: 90%;
    margin: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.orders-table th, .orders-table td {
    padding: 12px 15px;
}

.orders-table th {
    background-color: #0F734C;
    color: #ffffff;
}

.orders-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.orders-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.orders-table tbody tr:last-of-type {
    border-bottom: 2px solid #0F734C;
}

.orders-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
