# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches:
      - develop
    # paths-ignore:
    # - .github/workflows/**

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.18.0]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present

  test_signup:
    runs-on: ubuntu-latest

    needs: build

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: 20.18.0
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present     

    - name: Start Application
      run: node app.js &
      
    - name: Run Signup Tests
      run: npx mocha test/signupTest.js

  test_orderstatus:
    runs-on: ubuntu-latest

    needs: build

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: 20.18.0
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - name: Start Application
      run: nohup node app.js &
      env:
          PORT: 3000
      
    - name: Run Order Status Tests
      run: npx mocha test/orderStatusTest.js


